* {
  box-sizing: border-box;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  border: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  min-height: 35vh;
}

.tweetForm__input--username {
  flex: 1 0 0;
  width: 20rem;
  border: 2px solid black;
  margin-bottom: 1rem;
}

.tweetForm__input--message {
  flex: 3 0 0;
  width: 20rem;
  border: 2px solid black;
}
